.game-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: #fff;
  box-sizing: border-box;
}

.level {
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .game-ui {
    font-size: 0.75rem;
    padding: 10px;
  }
} 