body {
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive; /* A good retro font */
  text-align: center;
}

.App {
  text-align: center;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

h1.neon-text {
    font-size: 4rem;
    margin: 40px 0;
}

.neon-button {
  font-family: 'Press Start 2P', cursive;
  background-color: #111;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.neon-button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px #fff;
}
